body{
  background-color:rgb(197, 197, 221);
  background-repeat: no-repeat;
  background-size: cover;
}
.App{
  text-align: center;
}
.btn{
  text-align: center;
  background-color: rgb(66, 121, 158);
  border-radius: 25px;
  width: 150px;
  height: 40px;

}
.s-btn{
  display: inline-block;
  text-align: center;
  background-color: rgb(66, 121, 158);
  border-radius: 25px;
  width: 100px;
  height: 30px;
  margin-left: 5px;

}